### Apache Config ###
server/apache/vhost/*vhost.conf
!server/apache/vhost/.gitkeep
server/apache/httpd.conf

### Nginx Config ###
server/nginx/site-enable/*vhost.conf
!server/nginx/site-enable/.gitkeep
server/nginx/nginx.conf

### Other ignore ###
.idea/
.DS_Store